@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color-pb: hsl(225, 100%, 94%);
  --primary-color-bb: hsl(245, 75%, 52%);

  --seconday-color-vpb: hsl(225, 100%, 98%);
  --secondary-color-desb: hsl(224, 23%, 55%);
  --secondary-color-darb: hsl(223, 47%, 23%);
  --secondary-color-link: hsl(228, 45%, 44%);
}

body {
  background-image: url("/order-summary-component-main/images/pattern-background-desktop.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 50%;
  font-family: "Lato", sans-serif;
  background-color: var(--primary-color-pb);
}

img {
  width: 100%;
  height: 200px;
}

a {
  transition: 400ms;
}

h1 {
  padding: 5px 0;
  font-weight: 900;
}

h2 {
  font-size: 15px;
  font-weight: 900;
}

h3 {
  font-size: 15px;
  font-weight: 400;
}

p {
  margin: 10px 0;
  padding: 10px 0;
  font-weight: 300;
  font-size: 0.95rem;
}

.container {
  max-width: 380px;
  margin: 65px auto;
}

.card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.container-card {
  padding: 30px 50px;
  background-color: #fff;
  text-align: center;
}

.header {
  height: 200px;
}

.content2 {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  border-radius: 10px;
  background-color: var(--seconday-color-vpb);
  padding: 15px 0;
}

.icon {
  line-height: 2.5;
  margin: 0 auto;
  border-radius: 100%;
  padding: 0 11px;
  background-color: var(--primary-color-pb);
  color: var(--primary-color-bb);
}

.plan {
  text-align: left;
  line-height: 1.5;
}

.btn a {
  color: var(--primary-color-bb);
  line-height: 2.5;
  font-weight: 700;
  font-size: 15px;
}

.btn1 {
  padding: 10px 0 14px 0;
  margin: 20px 0;
  background-color: var(--primary-color-bb);
  border-radius: 10px;
}

.btn1 a {
  text-decoration: none;
  color: #fff;
}

.btn2 {
  margin: 10px 0;
}

.btn2 a {
  text-decoration: none;
  font-weight: 600;
}

/*Hover States*/

.btn a:hover,
.btn1 a:hover,
.btn2 a:hover {
  color: lightseagreen;
}
